.card {
  background-color: $very-pale-blue;
  display: grid;
  gap: 1.5rem;
  border-radius: 0.93rem;

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0.93rem;
    border-top-right-radius: 0.93rem;
  }

  &__description {
    padding: 0 2rem 1rem;
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    margin-block-end: 0.9rem;
    color: $dark-blue;
  }

  &__text {
    color: $desaturated-blue;
    line-height: 1.625rem;
  }

  &__pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 0.9rem;
    background-color: $pale-blue;
    padding: 0.8rem;
    border-radius: 0.93rem;
  }

  &__pricing-details {
    display: flex;
    align-items: center;
    gap: 0.9rem;
  }

  &__pricing-plan {
    font-weight: 700;
    margin-block-end: 3px;
  }

  &__pricing-amount {
    color: $desaturated-blue;
  }

  &__pricing-change {
    color: $bright-blue;
    transition: color 0.4s ease, text-decoration 0.4s ease;

    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }
  }

  &__btn {
    background-color: $bright-blue;
    text-align: center;
    text-decoration: none;
    color: $pale-blue;
    font-weight: 600;
    margin-inline: 0.9rem;
    margin-block-end: 1rem;
    padding: 0.9rem 1.1rem;
    border-radius: 0.93rem;
    box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, 0.25);
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__cancel {
    text-decoration: none;
    color: $desaturated-blue;
    font-weight: 600;
    margin-inline: 0.9rem;
    margin-block-end: 2rem;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-blue;
      font-weight: 700;
    }
  }
}

@media screen and (min-width: $desktop) {
  body {
    background: url(../assets/images/pattern-background-desktop.svg), $pale-blue;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card {
    margin: 0 auto;
    max-width: 375px;

    & :where(&__description, &__pricing, &__btn) {
      margin-inline: 1.5rem;
    }

    &__btn {
      margin-block-start: 1rem;
    }
  }
}
